@media screen and (max-width:1360px){}
@media screen and (max-width:1200px){}
@media screen and (max-width:1150px){.active_group_text_area p{width:75%;}
}
@media screen and (max-width:999px){.header_search_area h1{font-size:25px;}
.active_group_text_area p{width:100%;}
.login_to_join_but{float:left;}
.group_ijoin_box1_img_area{float:none; margin:0px auto;}
.group_ijoin_box1 h2{ text-align:center; margin-top:15px;}
.group_ijoin_box1 h3{ text-align:center;}
.group_ijoin_box1 p{ text-align:center;}
.group_ijoin_box2 h2{ text-align:center; margin-top:15px;}
.group_ijoin_box2 h3{text-align:center;}
.group_ijoin_box2 p{text-align:center;}
.group_ijoin_box2_bottom_text_area
{
	text-align:center;
}
}
@media screen and (max-width:950px){}
@media screen and (max-width:900px){}
@media screen and (max-width:850px){.logo_area{width:340px;}
}
@media screen and (max-width:800px){.header_contanear{padding:20px 0;}
.header_img_area{width:100%;float:none;text-align:center;}
.header_search_area{width:100%;margin-top:15px;}
.our_team_left_area{width:100%;}
.our_team_right_area{width:100%;margin-top:20px;}
}
@media screen and (max-width:768px){
.profile_non_login_img_area{position:static; float:none;
margin:0px auto;}

.profile_non_login_text_area
{
	padding-left:0;
	margin-top:20px;
}
.profile_non_login_text_heading
{
	width:100%;
	text-align:center;
}
.profile_non_login_main_text
{
	width:100%;
	padding-left:0;
	text-align:center;	
}
.group_admin_heading h1 ,.group_admin_heading2 h1 .group_admin_heading3 h1
{
	font-size:23px;
}
.group_admin_heading2 h1
{
	font-size:23px;
}
.group_name_nested_tabcolor{color:#000 !important; }

.group_name_events_panel_colbox{float:left; width:95%; margin:18px 2.5%; font-size:15px; color:#000;}
}
@media screen and (max-width:700px){.logo_area{width:90%;float:none;margin:0px auto;}
.signup_login_but_main_area{float:none;width:300px;margin:10px auto 0 auto;}
.active_group_img_area{position:static;float:none;margin:0px auto;}
.active_group_text_area{position:static;float:none;padding:0px;margin-top:15px;text-align:center;}
.login_to_join_but{float:none;margin:20px auto 0 auto;}
.heading_main_area h1{font-size:25px;text-align:center;}
.terms_page_main_area p{text-align:center;}
.login_main_area
{
	width:100%;
	margin:0 0 25px 0;
}
.login_main_area h1
{
	text-align:center;	
}
.header_subpage_main_area h1
{
	font-size:30px;
	text-align:center;
	margin-bottom:15px;
}
.subpage_header_search_select_style1
{
	width:48%;
	margin-top:5px;
}
.subpage_header_search_input_style1
{
	width:48%;
	margin-top:5px;	
}
.subpage_header_search_submit_style1
{
	display:block;
	float:none;
	margin:20px auto;
	width:180px;
}
.profile_update_left_area
{
	width:100%;
}
.profile_update_right_area2
{
	width:100%;
	margin-top:30px;
}
.group_admin_heading h1 ,.group_admin_heading2 h1 ,.group_admin_heading3 h1
{
	text-align:center;
}
.profile_update_left_area2
{
	display:block;
	float:left;
	width:100%;
	background:#e6e8e9;
	padding:25px 18px;
}

.profile_update_right_area
{
	width:100%;
}

}
@media screen and (max-width:667px){}
@media screen and (max-width:600px){
.contact_main_area p img{text-align:center;width:30%;margin:10px 2%; }
.contact_help_but{width:300px;font-size:20px;}
.founded_page_left_area{width:100%;}
.founded_page_right_area{width:100%; margin-top:25px; text-align:center;}
.signup_but2{float:none;width:280px;margin:20px auto;}
.login_but2{float:none;width:280px;margin:20px auto;}
.active_group_img_area3{display:block;float:none; width:127px;height:127px;margin:0px auto 10px auto;}
.our_team_box1{text-align:center;}
.our_team_left_area h1{font-size:23px;text-align:center;}
.our_team_right_area h1{font-size:25px;text-align:center;}

.group_member_box{width:45%; }

}
@media screen and (max-width:500px){
.add_remove_moderator_picture{float:none; position:static; margin:0px auto;}
.add_remove_moderator_text_area
{
	padding-left:0px;
}
	
}
@media screen and (max-width:480px){.header_full_w{margin-top:0px;}
.header_search_select_style1{float:none;width:96%;margin-top:15px;}
.header_search_input_style1{float:none; width:96%;margin-top:15px;margin-bottom:20px;}
.header_search_submit_style1{float:none; margin:30px auto;}
.contact_main_area p img{width:40%;margin:10px 2%; }
.contact_help_but{width:260px;}
.header_search_area h1{text-align:center;}
.our_team_box1{width:100%; margin:0;}
.popup1_login_area h2{font-size:22px;float:none;text-align:center;}
.popup1_login_but{float:none; margin:12px auto 0 auto;}
.group_ijoin_box1{width:96%;}
.login_main_area h1
{
	font-size:20px;
}
.subpage_header_search_select_style1
{
	width:98%;
}
.subpage_header_search_input_style1
{
	width:98%;
}
.profile_update_right_heding
{
	width:100%;
	text-align:left;
	margin-bottom:12px;
}
.profile_update_right_field
{
	width:100%;
}
.group_ijoin_box2{width:96%;}
.groups_feed_left_area
{
	width:110px;
}
.groups_feed_right_area
{
	margin-left:145px;
	width:70%;
}
}
@media screen and (max-width:400px){.popup1_form_area p span
{display:inline-block;width:100%;float:none;	
}
.groups_feed_left_area
{
	width:100%;
	position:static;
}
.groups_feed_left_area h1
{
	text-align:left;
}
.groups_feed_right_area
{
	margin-left:2%;
	width:98%;
	margin-top:15px;
}

.group_member_box{width:95%; }

}