*{margin:0px;padding:0px;box-sizing:border-box}
img{border:none;}
a{outline-style:none;text-decoration:none;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out; color:#000;}
body{overflow-x:hidden;font-family:'opensansregular';}
@font-face{font-family:'OpenSansLight';src:url('../fonts/OpenSansLight.eot');src:url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
url('../fonts/OpenSansLight.woff2') format('woff2'),
url('../fonts/OpenSansLight.ttf') format('truetype'),
url('../fonts/OpenSansLight.svg#OpenSansLight') format('svg');}
@font-face{font-family:'opensansregular';src:url('../fonts/opensansregular.eot');src:url('../fonts/opensansregular.eot') format('embedded-opentype'),
url('../fonts/opensansregular.woff2') format('woff2'),
url('../fonts/opensansregular.ttf') format('truetype'),
url('../fonts/opensansregular.svg#opensansregular') format('svg');}
@font-face{font-family:'OpenSansSemibold';src:url('../fonts/OpenSansSemibold.eot');src:url('../fonts/OpenSansSemibold.eot') format('embedded-opentype'),
url('../fonts/OpenSansSemibold.woff2') format('woff2'),
url('../fonts/OpenSansSemibold.ttf') format('truetype'),
url('../fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');}
@font-face{font-family:'OpenSansBold';src:url('../fonts/opensans-bold.eot');src:url('../fonts/opensans-bold.eot') format('embedded-opentype'),

url('../fonts/opensans-bold.ttf') format('truetype'),
url('../fonts/opensans-bold.svg#OpenSansBold') format('svg');}
@font-face{font-family:'OpenSansExtraBold';src:url('../fonts/OpenSansExtraBold.eot');src:url('../fonts/OpenSansExtraBold.eot') format('embedded-opentype'),
url('../fonts/OpenSansExtraBold.woff2') format('woff2'),
url('../fonts/OpenSansExtraBold.ttf') format('truetype'),
url('../fonts/OpenSansExtraBold.svg#OpenSansExtraBold') format('svg');}
.top_header_contanear{display:block;float:left;width:100%;border-bottom:5px solid #9a1015;padding:12px 0;}
.contanear{display:block;width:96%;max-width:1150px;margin:0px auto;}
.top_header_main_area{display:block;float:left;width:100%;}
.logo_area{display:block;float:left;width:370px;text-align:center;max-width:100%;}
.logo_area img{max-width:100%;}
.signup_login_but_main_area{display:block;float:right;width:300px;margin-top:32px;}
.signup_but{display:block;float:left;width:145px;height:46px;background:#6d6e71;line-height:46px;text-align:center;font-size:18px;font-family:'OpenSansSemibold';color:#FFF;margin-right:10px;}
.signup_but img{vertical-align:middle;margin-bottom:3px;}
.signup_but:hover{background:#000;}
.login_but{display:block;float:left;width:145px;height:46px;background:#D12028;line-height:46px;text-align:center;font-size:18px;font-family:'OpenSansSemibold';color:#FFF;}
.login_but img{vertical-align:middle;margin:0 5px 3px 5px;}
.login_but:hover{background:#000;}
.header_contanear{display:block;float:left;width:100%;background:url(../images/header_bg.jpg) repeat;padding:52px 0;}
.header_img_area{display:block;float:left;width:40%;float:left;}
.header_img_area img{max-width:100%;}
.header_search_area{display:block;float:right;width:57%;background:#FFF;border-radius:10px;padding:30px;-webkit-box-shadow:inset 0px 0px 0px 4px rgba(173,22,27,1);-moz-box-shadow:inset 0px 0px 0px 4px rgba(173,22,27,1);box-shadow:inset 0px 0px 0px 4px rgba(173,22,27,1);}
.header_search_area h1{font-size:40px;color:#3d3d3d;font-weight:100;}
.header_search_area h1 span{color:#d22027;font-weight:100;font-family:'OpenSansBold';display:inline-block;}
.header_full_w{display:block;float:left;width:104%;margin:0 -2%;margin-top:25px;}
.header_search_select_style1{display:block;float:left;width:46%;height:50px;margin:0 2%;background:#dedede;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(186,186,186,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(186,186,186,1);box-shadow:inset 0px 0px 0px 1px rgba(186,186,186,1);font-size:16px;padding:0 10px;border:none;font-family:'opensansregular';}
.header_search_input_style1{display:block;float:left;width:46%;height:50px;margin:0 2%;background:#dedede;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(186,186,186,1);-moz-box-shadow:inset 0px 0px 0px 1px rgba(186,186,186,1);box-shadow:inset 0px 0px 0px 1px rgba(186,186,186,1);font-size:16px;padding:0 10px;border:none;font-family:'opensansregular';}
.header_search_submit_style1{display:block;float:left;width:180px;height:52px;margin:30px 0 35px 0;background:#6d6e71;text-align:center;font-size:20px;color:#FFF;font-family:'OpenSansSemibold';border:none;cursor:pointer;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out;}
.header_search_submit_style1:hover{background:#000;}
.body_contanear{display:block;float:left;width:100%;padding:35px 0;}
.heading_main_area{display:block;float:left;width:100%;}
.heading_main_area h1{font-size:30px;font-weight:100;font-family:'OpenSansBold';}
.active_group_main_area{display:block;float:left;width:100%;margin-top:10px;padding:20px 0;border-bottom:1px solid #E5E2D9;min-height:178px;}
.active_group_img_area{display:block;float:left;width:127px;height:127px;background:#B9BEC1;padding:4px;position:absolute;}
.active_group_img_area img{max-width:119px;max-height:119px;}
.active_group_text_area{display:block;float:left;width:100%;position:relative;padding-left:150px;}
.active_group_text_area h1{font-size:18px;text-transform:uppercase;font-family:'OpenSansBold';font-weight:100;}
.active_group_text_area h2{font-size:16px;font-weight:100;}
.active_group_text_area h2 span{font-family:'OpenSansBold';color:#e4302f;}
.active_group_text_area p{font-size:15px;margin-top:15px;width:78%;float:left;}
.login_to_join_but{display:inline-block;float:right;width:186px;height:46px;background:#D12028;line-height:46px;text-align:center;font-size:18px;font-family:'OpenSansSemibold';color:#FFF;margin-top:15px;}
.join_but{display:inline-block;float:right;width:146px;height:46px;background:#D12028;line-height:46px;text-align:center;font-size:18px;font-family:'OpenSansSemibold';color:#FFF;margin-top:15px;}
.login_to_join_but img{vertical-align:middle;margin:0 5px 3px 5px;}
.login_to_join_but:hover{background:#000;}
.join_but{display:inline-block;float:right;width:146px;height:46px;background:#D12028;line-height:46px;text-align:center;font-size:18px;font-family:'OpenSansSemibold';color:#FFF;margin-top:15px;}
.join_but img{vertical-align:middle;margin:0 5px 3px 5px;}
.join_but:hover{background:#000;}

#border_bottom_none{border-bottom:none;}
.footer_contanear{display:block;float:left;width:100%;margin-top:15px;background:#222222;padding:25px 0;}
.footer_text_area{display:block;float:left;width:100%;text-align:center;}
.footer_text_area p{color:#7b7878;font-size:15px;line-height:25px;}
.footer_text_area p a{color:#FFF;padding:0 15px;}
.footer_text_area p a:hover{color:#e4302f;}
.footer_text_area h2{color:#FFF;font-size:15px;font-weight:100;margin-top:10px;}
.footer_text_area h2 span{font-family:'OpenSansBold';color:#E4302F; display:inline-block;}
.terms_page_main_area{display:block;float:left;width:100%;}
.terms_page_main_area p{font-size:15px;color:#797979;line-height:24px;margin-top:20px;}
.terms_page_main_area p span{text-transform:uppercase;font-size:15px;font-weight:100;color:#000;}
.contact_main_area{display:block;width:100%;padding:20px 0;}
.contact_main_area p{text-align:center;}
.contact_main_area p img{text-align:center;width:18%;margin:10px 2%; }
.contact_help_but{display:block;width:400px;height:62px;background:#D12028;color:#FFF;line-height:62px;margin:40px auto 20px auto;font-size:30px;text-transform:uppercase;text-align:center;}
.contact_help_but:hover{background:#000;}
.founded_page_left_area{display:block;float:left;width:30%;padding:30px;background:#e6e8e9;}
.active_group_img_area2{display:block;width:127px;height:127px;background:#B9BEC1;padding:4px;margin:0px auto;}
.active_group_img_area2 img{max-width:119px;max-height:119px;}
.founded_page_left_area h1{color:#d22027;font-size:18px;font-family:'OpenSansBold';font-weight:100;text-align:center;margin-top:20px;}
.founded_page_left_area p{font-size:18px;margin-top:5px;text-align:center;}
.profile_img_area{display:block;width:115px;height:115px;border-radius:65px;margin:20px auto 0 auto;overflow:hidden;border:4px solid #B9BEC1;}
.profile_img_area img{max-width:100%;}
.founded_page_right_area{display:block;float:right;width:67%;}
.founded_page_right_area h1{font-size:25px;font-family:'OpenSansBold';font-weight:100;color:#d22027;}
.founded_page_right_area h2{font-size:25px;font-family:'OpenSansSemibold';font-weight:100;margin-top:15px;}
.founded_page_right_area p{font-size:15px;color:#797979;line-height:24px;margin-top:20px;}
.founded_page_right_area p span{text-transform:uppercase;font-size:15px;font-weight:100;color:#000;}

.signup_but2{display:block;float:left;width:317px;height:62px;background:#6d6e71;line-height:62px;text-align:center;font-size:18px;font-family:'OpenSansSemibold';color:#FFF;margin-right:20px;margin-top:25px;}
.signup_but2 img{vertical-align:middle;margin-bottom:3px;}
.signup_but2:hover{background:#000;}
.login_but2{display:block;float:left;width:317px;height:62px;background:#D12028;line-height:62px;text-align:center;font-size:18px;font-family:'OpenSansSemibold';color:#FFF;margin-top:25px;}
.login_but2 img{vertical-align:middle;margin:0 5px 3px 5px;}
.login_but2:hover{background:#000;}
.our_team_left_area{display:block;float:left;width:67%;margin-top:20px;}
.our_team_left_area h1{font-size:30px;font-family:'OpenSansBold';font-weight:100;margin-bottom:5px;}
.our_team_box_main_area{display:block;float:left;width:104%;margin:0 -2%;}
.our_team_box1{display:block;float:left;width:46%;padding:30px 0;margin:0 2%;border-bottom:1px solid #E5E2D9;}
.active_group_img_area3{display:block;float:left; width:127px;height:127px;background:#B9BEC1;padding:4px;margin-right:15px;}
.active_group_img_area3 img{max-width:119px;max-height:119px;}
.our_team_box1 h2{font-size:18px;font-weight:100;font-family:'OpenSansBold';text-transform:uppercase;	}
.our_team_box1 h3{font-size:16px;font-weight:100;color:#e4302f;}
.our_team_box1 h4{font-size:16px;font-weight:100;}
.our_team_box1 p{font-size:14px;font-weight:100;margin-top:5px;}

.our_team_right_area{display:block;float:right;width:30%;margin-top:20px;}
.our_team_right_area h1{text-transform:uppercase;font-size:30px;font-weight:100;font-family:'OpenSansBold';	}
.our_team_right_area h1 span{color:#c61e23;}
.our_team_right_heading_area{display:block;float:left;width:100%;padding:15px 20px;background:#C71E23;margin-top:15px;}
.our_team_right_heading_area h2{color:#FFF;text-transform:uppercase;font-size:18px;float:left;width:50%;font-weight:100;}
.our_team_right_text_area{display:block;float:left;width:100%;background:#E7E8EA;padding:0px 20px 30px 20px;	}
.our_team_right_text_full_w{display:block;float:left;width:100%;border-bottom:1px solid #FFFFFF;padding:8px 0;}
.our_team_right_text_full_w p{font-size:16px;float:left;width:50%;}
.our_team_right_text_full_w h3{font-size:16px;float:left;width:50%;font-family:'OpenSansBold';font-weight:100;	}

.popup1_main_area
{display:block;overflow:auto;max-width:500px;width:100%;padding:20px 0;border-radius:15px;background:#FFFFFF;
}
.popup1_main_area2
{display:block;overflow:auto;max-width:500px;width:100%;padding:20px 0 0 0;border-radius:15px;background:#FFFFFF;
}
.popup1_top_fb_area
{display:block;float:left;width:100%;text-align:center;
}
.popup1_top_fb_area img
{max-width:96%;
}
.popup1_top_fb_area h1
{font-size:24px;text-transform:uppercase;color:#3c3c3c;font-family:'OpenSansBold';	font-weight:100;
}
.popup1_form_area
{display:block;float:left;width:100%;background:#F2F2F2;border-top:1px solid #E2E2E2;border-bottom:1px solid #E2E2E2;padding:18px 30px;margin-top:15px;
}
.popup1_form_area2
{display:block;float:left;width:100%;background:#F2F2F2;border-top:1px solid #E2E2E2;padding:18px 30px;margin-top:15px;
}
.popup1_form_area p
{font-size:16px;color:#4a4949;
}
.popup1_form_area p span
{font-size:16px;color:#3c5b9b;font-family:'OpenSansSemibold';font-weight:100;float:right;	
}
.popup1_form_area p span a
{color:#3c5b9b;	
}
.popup1_input_style1
{display:block;width:100%;height:46px;background:#FFF;border-radius:5px;padding:0 15px;border:1px solid #E1E0E0;font-size:16px;color:#4a4949;font-family:'opensansregular';margin:15px 0;
}
.popup1_signup_but{display:block;width:142px;height:46px;background:#6d6e71;line-height:46px;text-align:center;font-size:18px;font-family:'OpenSansSemibold';color:#FFF;margin:20px auto 20px auto; border:none; cursor:pointer;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out;}
.popup1_signup_but:hover{background:#000;}

.popup1_signup_but2{display:block;width:142px;height:46px;background:#6d6e71;line-height:46px;text-align:center;font-size:18px;font-family:'OpenSansSemibold';color:#FFF;margin:20px 0; border:none; cursor:pointer;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out;}
.popup1_signup_but2:hover{background:#000;}

.popup1_login_but{display:block;float:right;width:142px;height:46px;background:#D12028;line-height:46px;text-align:center;font-size:18px;font-family:'OpenSansSemibold';color:#FFF;border:none; cursor:pointer;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out; margin-top:5px;}
.popup1_login_but:hover{background:#000;}
.popup1_login_area
{display:block;float:left;width:100%;padding:20px 30px 5px 30px;
}
.popup1_login_area h2
{font-size:26px;float:left;font-weight:100;margin-top:9px;
}
.forgot_password_top_area
{display:block;float:left;width:100%;padding:5px 25px 25px 25px; 
}
.forgot_password_top_area h1
{font-size:22px;font-family:'OpenSansSemibold';font-weight:100;
}
.forgot_password_top_area p
{font-size:16px;color:#4a4949;margin-top:12px;
}


/************for_login_pup_up*******************/

#mask {display: '';background: #000; position: fixed; left: 0; top: 0; z-index: 10;width: 100%; height: 100%;opacity: 0.8;z-index: 999;
}
#mask2 {display: '';background: #000; position: fixed; left: 0; top: 0; z-index: 10;width: 100%; height: 100%;opacity: 0.8;z-index: 999999;
}

#mask3 {display: '';background: #000; position: fixed; left: 0; top: 0; z-index: 10;width: 100%; height: 100%;opacity: 0.8;z-index: 9999999;
}
.login-popup{display:none;float: left;font-size: 1.2em;position: absolute;top: 340px; left: 50%;z-index: 99999;border-radius:8px;max-width:500px;width:90%;
}

.login-popup2{display:none;float: left;font-size: 1.2em;position: absolute;top: 300px; left: 50%;z-index: 99999;border-radius:8px;max-width:500px;width:90%;
}

.login-popup3{display:none;float: left;font-size: 1.2em;position: absolute;top: 300px; left: 50%;z-index: 9999999;border-radius:8px;max-width:500px;width:90%;
}

.login-popup4{display:none;float: left;font-size: 1.2em;position: absolute;top: 700px; left: 50%;z-index: 9999999;border-radius:8px;max-width:700px;width:90%;
}

.login-popup5{display:none;float: left;font-size: 1.2em;position: absolute;top: 700px; left: 50%;z-index: 9999999;border-radius:8px;max-width:700px;width:90%;
}

.login-popup6{display:none;float: left;font-size: 1.2em;position: absolute;top: 700px; left: 50%;z-index: 9999999;border-radius:8px;max-width:700px;width:90%;
}

.login-popup7{display:none;float: left;font-size: 1.2em;position: absolute;top: 700px; left: 50%;z-index: 99999999;border-radius:8px;max-width:700px;width:90%;
}

.login-popup8{display:none;float: left;font-size: 1.2em;position: absolute;top: 700px; left: 50%;z-index: 99999999;border-radius:8px;max-width:500px;width:90%;
}

img.btn_close {float: right;position:relative;margin: 0px -10px -20px 0;
}
/************for_login_pup_up*******************/

.profile_non_login_profile_area{display:block; float:left; width:100%; padding:0 0 20px 0; border-bottom:1px solid #E5E2D9;}
.profile_non_login_img_area{display:block; float:left; width:143px; height:143px; border:4px solid #b9bec1; position:absolute;}
.profile_non_login_img_area img
{
	width:100%;
}
.profile_non_login_text_area
{
	display:block;
	float:left;
	width:100%;
	padding-left:165px;
}
.profile_non_login_text_full_w
{
	display:block;
	float:left;
	width:100%;
	margin-bottom:15px;
}
.profile_non_login_text_heading
{
	display:block;
	float:left;
	width:15%;
	font-size:18px;
	color:#d22027;
	font-family:'OpenSansSemibold';
	text-align:right;
	text-transform:uppercase;
}
.profile_non_login_main_text
{
	display:block;
	float:left;
	width:85%;
	padding-left:1%;
}
.profile_non_login_main_text h1
{
	font-size:25px;
	text-transform:uppercase;
	font-weight:100;
}
.profile_non_login_main_text h2
{
	font-size:15px;
	font-weight:100;
}
.group_ijoin_main_area
{
	display:block;
	float:left;
	width:100%;
	margin-top:20px;
}
.group_ijoin_box_main_area
{
	display:block;
	float:left;
	width:104%;
	margin:0 -2%;
}


.group_ijoin_box1{display:block;float:left;width:29%;padding:30px 0;margin:0 2%;}
.group_ijoin_box1_img_area{display:block;float:left; width:127px;height:127px;background:#B9BEC1;padding:4px;margin-right:15px;}
.group_ijoin_box1_img_area img{max-width:119px;max-height:119px;}
.group_ijoin_box1 h2{font-size:18px;font-weight:100;font-family:'OpenSansBold';text-transform:uppercase;	}
.group_ijoin_box1 h3{font-size:16px;font-weight:100;}
.group_ijoin_box1 h3 span{ color:#e4302f;font-family:'OpenSansBold';}
.group_ijoin_box1 p{font-size:14px;font-weight:100;margin-top:5px;}
.login_main_area
{
	display:block;
	float:right;
	width:330px;
}
.login_main_area h1
{
	font-size:25px;
	font-family:'OpenSansBold';
	text-align:right;
	margin-top:35px;	
}
.login_main_area h1 span
{
	color:#d22027;
}
.header_subpage_main_area
{
	display:block;
	float:left;
	width:102%;
	margin:0 -1%;
}
.header_subpage_main_area h1
{
	font-size:40px;
	color:#FFF;
	margin-left:1%;
}
.header_subpage_main_area h1 span
{
	font-family:'OpenSansBold';
	display:inline-block;
}
.header_contanear_subpage{display:block;float:left;width:100%;background:url(../images/header_bg.jpg) repeat;padding:30px 0 35px 0;}
.subpage_header_search_select_style1
{
	display:block;
	float:left;
	width:19%;
	height:50px;
	margin:15px 1%;
	background:#FFFFFF;
	-webkit-box-shadow:inset 0px 0px 0px 1px rgba(186,186,186,1);
	-moz-box-shadow:inset 0px 0px 0px 1px rgba(186,186,186,1);
	box-shadow:inset 0px 0px 0px 1px rgba(186,186,186,1);
	font-size:16px;padding:0 10px;
	border:none;font-family:'opensansregular';
}
.subpage_header_search_input_style1
{
	display:block;
	float:left;
	width:19%;
	height:50px;
	margin:15px 1%;
	background:#FFFFFF;
	-webkit-box-shadow:inset 0px 0px 0px 1px rgba(186,186,186,1);
	-moz-box-shadow:inset 0px 0px 0px 1px rgba(186,186,186,1);
	box-shadow:inset 0px 0px 0px 1px rgba(186,186,186,1);
	font-size:16px;
	padding:0 10px;
	border:none;
	font-family:'opensansregular';
}
.subpage_header_search_submit_style1
{
	display:block;
	float:left;
	width:14%;
	height:52px;
	margin:15px 1%;
	background:#6d6e71;
	text-align:center;
	font-size:20px;
	color:#FFF;
	font-family:'OpenSansSemibold';
	border:none;
	cursor:pointer;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-ms-transition:all .5s;
	-o-transition:all .5s;
	transition:all .5s;
	transition-timing-function:ease-out;
}
.subpage_header_search_submit_style1:hover{background:#000;}

.profile_update_left_area
{
	display:block;
	float:left;
	width:30%;
	background:#e6e8e9;
	padding:25px 18px;
}
.profile_img_area2{display:block;width:115px;height:115px;border-radius:65px;margin:0px auto 0 auto;overflow:hidden;border:4px solid #B9BEC1;}
.profile_img_area2 img{max-width:100%;}
.change_photo_but
{
	display:block;
	width:100%;
	padding:10px 2%;
	color:#FFF;
	font-size:16px;
	text-align:center;
	background:#d22027;
	margin-top:13px;
}
.change_photo_but:hover
{
	background:#000;
}
.status_heading
{
	display:block;
	width:100%;
	text-align:center;
	margin-top:12px;
	color:#d22027;
	font-size:20px;
	font-family:'OpenSansBold';	
}
.profile_update_left_select_style
{
	display:block;
	width:70%;
	height:42px;
	border:1px solid #BABABA;
	background:#FFF;
	font-size:18px;
	text-align:center;
	margin:15px 15% 0 15%;
}
.profile_update_left_massage_but
{
	display:block;
	width:100%;
	margin-top:15px;
	text-align:center;
}
.profile_update_left_massage_but ul
{
	font-size:20px;
	font-family:'OpenSansSemibold';
	list-style-type:none;
	color:#000;	
}
.profile_update_left_massage_but ul li
{
	margin-top:10px;
}
.profile_update_left_massage_but ul li a
{
	color:#000;
}
.profile_update_left_massage_but ul li ul
{
	font-size:18px;
	text-align:left;
	width:40px;
	margin:0px auto;
}
.profile_update_left_massage_but ul li ul li a:hover
{
	color:#d22027;
}

.edit_profile_but
{
	display:block;
	width:100%;
	padding:13px 2%;
	color:#FFF;
	font-size:16px;
	text-align:center;
	background:#d22027;
	margin-top:13px;
}
.edit_profile_but:hover
{
	background:#000;
}
.profile_update_left_drop_down_but
{
	display:block;
	width:100%;
	margin-top:15px;
}

dt{
	color:#FFFFFF;
	margin-top:18px;
	font-size:16px;
	padding-left:0px;
	position:relative;
	width:100%;
	cursor:pointer;
	background-color:#000000;
	height:48px;
	line-height:48px;
	text-align:center;
}
dt:opened{ color:#FFF;background-color:#22c1f9;}

dt .icon{
	background:url(../images/bullets.png) no-repeat;
	height:49px;
	left:0;
	position:absolute;
	width:48px;
	top:-1px;;
}

dt.opened .icon{ background-position:right bottom;}

dd{
	display:none;
}

.groups_join_but
{
	display:block;
	width:100%;
	padding:13px 2%;
	color:#FFF;
	font-size:16px;
	text-align:center;
	background:#505050;
	margin-top:3px;
}
.groups_join_but:hover
{
	background:#000;
}
.profile_update_right_area2
{
    display:block;
    float:right;
    width:65%;
}
.profile_update_right_area2_full_w
{
	display:block;
	float:left;
	width:100%;
	margin-bottom:15px;
}
.profile_update_right_heding
{
	display:block;
	float:left;
	width:18%;
}
.profile_update_right_heding h1
{
	font-size:16px;
	font-family:'OpenSansBold';
	text-transform:uppercase;
	margin-top:12px;		
}
.profile_update_right_field
{
	display:block;
	float:right;
	width:78%;
}
.profile_update_right_field h1
{
	font-size:16px;
	font-family:'OpenSansBold';
	text-transform:uppercase;
	margin-top:12px;
	color:#D12028;			
}
.profile_update_right_input_style1
{
	display:block;
	float:left;
	width:100%;
	height:48px;
	background:#DEDEDE;
	padding:0 12px;
	font-size:16px;
	border:none;
}
.profile_update_right_textarea_style1
{
	display:block;
	float:left;
	width:100%;
	height:130px;
	background:#DEDEDE;
	padding:12px;
	font-size:16px;
	border:none;
}
.profile_update_right_select_style1
{
	display:block;
	float:left;
	width:100%;
	height:48px;
	background:#DEDEDE;
	padding:0 12px;
	font-size:16px;
	border:none;
}
.save_but1
{
	display:block;
	float:right;
	width:178px;
	height:60px;
	text-align:center;
	line-height:60px;
	color:#FFF;
	background:#d22027;
	font-size:20px;
	font-family:'OpenSansBold';
	border:none;
	margin-top:15px;
	cursor:pointer;
}
.save_but1:hover
{
	background:#000;
-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out;	
}
.profile_update_right_browse_area
{
	display:block;
	float:left;
	width:100%;
	background:#DEDEDE;
	height:48px;
}
.profile_update_browse_style
{
	margin:12px 0 0 10px;
}
.group_admin_heading
{
	display:block;
	float:left;
	width:100%;
}
.group_admin_heading h1
{
	font-size:30px;
	font-family:'OpenSansBold';
	margin-bottom:15px;
}

.group_admin_heading2
{
	display:block;
	float:left;
	width:100%;
	margin-top:15px;
}
.group_admin_heading2 h1
{
	font-size:30px;
	font-family:'OpenSansBold';
	margin-bottom:15px;
}
.group_admin_heading3
{
	display:block;
	float:left;
	width:100%;
}
.group_admin_heading3 h1
{
	font-size:30px;
	font-family:'OpenSansBold';
	margin-bottom:30px;
}

.group_ijoin_box2_main_area
{
	display:block;
	float:left;
	width:104%;
	margin:0 -2%;
}
.group_ijoin_box2{display:block;float:left;width:46%;padding:20px 0;margin:0 2%;}
.group_ijoin_box1_img_area{display:block;float:left; width:127px;height:127px;background:#B9BEC1;padding:4px;margin-right:15px;}
.group_ijoin_box1_img_area img{max-width:119px;max-height:119px;}
.group_ijoin_box2 h2{font-size:18px;font-weight:100;font-family:'OpenSansBold';text-transform:uppercase;	}
.group_ijoin_box2 h3{font-size:16px;font-weight:100;}
.group_ijoin_box2 h3 span{ color:#e4302f;font-family:'OpenSansBold';}
.group_ijoin_box2 p{font-size:14px;font-weight:100;margin-top:5px;}
.group_ijoin_box2_bottom_text_area
{
	display:block;
	float:left;
	width:100%;
	margin-top:15px;
	border-top:1px solid #C5CAD0;
	border-bottom:1px solid #C5CAD0;
	padding:7px 0;
}
.group_ijoin_box2_bottom_text_area h4
{
	font-size:18px;
	text-transform:uppercase;
	font-family:'OpenSansBold';
	color:#d22027;	
}
.group_ijoin_box2_bottom_text_area h4 a
{
	color:#d22027;
}
.group_ijoin_box2_bottom_text_area h4 a span
{
	color:#000;
}
.created_group_but_main_area
{
	display:block;
	float:left;
	width:100%;
	margin-bottom:15px;
}
.created_group_but
{
	display:block;
	float:right;
	width:210px;
	height:64px;
	text-align:center;
	line-height:64px;
	color:#FFF;
	font-size:20px;
	background:#d22027;
}
.created_group_but img
{
	vertical-align:middle;
}
.created_group_but:hover
{
	background:#000;
}
.groups_feed_main_area
{
	display:block;
	float:left;
	width:100%;

}
.groups_feed_left_area
{
	display:block;
	float:left;
	width:150px;
	position:absolute;
	margin-top:25px;
}
.groups_feed_left_area h1
{
	font-size:18px;
	font-family:'OpenSansSemibold';	
	text-align:right;
}
.groups_feed_right_area
{
	display:block;
	float:left;
	padding:20px 0 20px 0;
	border-left:3px solid #e4e4e4;
	margin-left:175px;
	width:70%;
}
.groups_feed_right_round_img_area
{
	display:block;
	float:left;
	width:16px;
	height:16px;
	margin-left:-10px;
	margin-top:8px;
}
.groups_feed_right_text_area
{
	display:block;
	float:left;
	width:90%;
	padding-left:30px;
}
.groups_feed_right_text_area_group_mane
{
	font-size:25px;
	color:#d22027;
	font-family:'OpenSansBold';
}
.groups_feed_right_text_area_user_name
{
	font-size:18px;
	color:#d22027;
	font-family:'OpenSansSemibold';
	margin-top:5px;
}
.groups_feed_right_text_area_text
{
	font-size:16px;
	margin-top:5px;
}

.group_ijoin_box3{display:block;float:left;width:80%;padding:15px 0 0 0;}
.group_ijoin_box3_img_area{display:block;float:left; width:127px;height:127px;background:#B9BEC1;padding:4px;margin-right:15px;}
.group_ijoin_box3_img_area img{max-width:119px;max-height:119px;}
.group_ijoin_box3 h2{font-size:18px;font-weight:100;font-family:'OpenSansBold';text-transform:uppercase;	}
.group_ijoin_box3 h3{font-size:16px;font-weight:100;}
.group_ijoin_box3 h3 span{ color:#e4302f;font-family:'OpenSansBold';}
.group_ijoin_box3 p{font-size:14px;font-weight:100;margin-top:5px;}


.profile_update_left_area2
{
	display:block;
	float:left;
	width:30%;
	background:#e6e8e9;
	padding:25px 18px;
}

.grouppage_title
{
	display:block;
	width:100%;
	text-align:center;
	margin:15px 0;
	color:#000;
	font-size:16px;
}

.profile_update_right_area
{
	display:block;
	float:right;
	width:65%;
}

.grouppage_squre_image_cont{width:100%; text-align:center;}
.grouppage_squre_image{width:119px; border:4px solid #b9bec1;}



.profile_update_right_area_heading
{font-family:'OpenSansBold'; font-size:25px; color:#d22027;}

.grouppage_tab_cont{float:left; width:100%; margin:15px 0;}

.grouppage_tab_innerbox{float:left; width:100%; border:1px solid #6d6e71; padding:10px; margin:15px 0 0 0; }

.grouppage_tab_innerbox_top_panel{float:left; width:100%; font-size:16px; color:#e4302f; margin-bottom: 10px;}

.grouppage_tab_innerbox_top_panel span{color:#000;font-family:'OpenSansBold'; text-transform:uppercase; font-size:18px;}

.grouppage_tab_innerbox_top_panel img{float:left; width:80px; border:4px solid #b9bec1; margin:0 10px 0 0; height:80px;}

.grouppage_tab_innerbox_matter{font-size:16px; color:#000; margin:10px 0; display: block;font-family:'OpenSansSemibold';}

.grouppage_tab_innerbox_matter span{font-family:'OpenSansBold'; font-size:18px; text-transform:uppercase; color:#d22027;}

.grouppage_tab_innerbox_banner{float:left; width:100%;}

.grouppage_tab_innerbox_bottombanner{float:left; width:100%; background-color:#ebebeb; border:1px solid #999; padding:10px; font-size:16px;font-family:'OpenSansSemibold'; margin-top:10px; height:45px;}

.add_remove_moderator_box1
{
	display:block;
	float:left;
	width:100%;
	border:1px solid #E3E4E4;
	padding:20px;
	margin:15px 0 10px 0;
	min-height:160px;
}

.add_remove_moderator_picture{display:block;float:left; width:115px;height:115px;border-radius:65px;overflow:hidden;border:4px solid #B9BEC1;
position:absolute;}
.add_remove_moderator_picture img{max-width:100%;}
.add_remove_moderator_text_area
{
	display:block;
	float:left;
	width:100%;
	padding-left:150px;
}
.add_remove_moderator_input_style1
{
	display:block;
	float:left;
	width:70%;
	height:48px;
	background:#DEDEDE;
	padding:0 12px;
	font-size:16px;
	border:none;
	margin-top:30px;
}
.add_remove_moderator_input_style2
{
	display:block;
	float:left;
	width:100%;
	height:48px;
	background:#DEDEDE;
	padding:0 12px;
	font-size:16px;
	border:none;
	margin-top:30px;
}
.add_remove_moderator_submit_but
{
	display:block;
	float:right;
	width:27%;
	height:48px;
	text-align:center;
	line-height:48px;
	color:#FFF;
	background:#d22027;
	font-family:'OpenSansBold';	
	margin-top:30px;
	border:none;
	cursor:pointer;
	font-size:16px;	
-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out;	
}
.add_remove_moderator_submit_but:hover
{
	background:#000;
}

.describtiona_matter{font-size:15px; width:100%; float:left; line-height:20px; color:#585858; margin:15px 0;}
.describtiona_matter span{ text-transform:uppercase; color:#000;}

.group_member_box_cont{float:left; width:105%; margin:15px -2.5%;}

.group_member_box{float:left; width:28%; margin:15px 2.5%; text-align:center; border:1px solid #CCC; padding:15px 0;}
.group_member_box p{font-size:18px;font-family:'OpenSansBold';	color:#000; float:left; width:100%; margin:10px 0;}

.group_member_box img{width:120px; height:120px; border:4px solid #bbc0c2;clear:both;}

.group_member_box a{padding:6px 15px; background-color:#d22027; text-align:center; color:#FFF; font-size:16px; display:inline-block; clear:both;} 

.group_member_box a:hover{background-color:#000;}

.popup1_main_area3 
{
    display: block;
    overflow: auto;
    max-width: 700px;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    background: #FFF;
}

.popup1_main_area4 
{
    display: block;
    overflow: auto;
    max-width: 700px;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    background: #FFF;
}

.mail_small_box_area1
{
	display:block;
	float:left;
	width:100%;
	background:#FFF;
	border-bottom:1px solid #CCCCCC;
	padding:10px 5%;
	cursor:pointer;
}
.mail_small_box_area1:hover
{
	background:#E8F1F8;
}
.mail_small_box_heading_and_attach_area
{
	display:block;
	float:left;
	width:100%;
}
.mail_small_box_heading_and_attach_area h2
{
    font-family: 'OpenSansBold';
	font-size:14px;
	float:left;	
}
.mail_small_box_heading_and_attach_area h2 span
{
	margin-left:5px;
}

.mail_small_box_heading_and_attach_area h4
{
    font-family: 'OpenSansBold';
	font-size:14px;
	float:left;
	color:#ce2828;
}
.mail_small_box_heading_and_attach_area h4 span
{
	margin-left:5px;
}


.mail_small_box_heading_and_attach_area h3
{
	font-size:11px;
	float:right;
	font-weight:100;	
}
.mail_small_box_heading_and_attach_area h3 img
{
	vertical-align:middle;
}
.mail_small_box_mark_icon
{
	display:block;
	float:left;
	width:15px;
	margin-top:3px;
}
.mail_small_box_suject_and_text_area
{
	display:block;
	float:left;
	margin-left:7px;
	margin-top:3px;	
}
.mail_small_box_suject_and_text_area h1
{
	font-weight:100;
	font-size:13px;
}
.mail_small_box_suject_and_text_area p
{
	font-weight:100;
	font-size:11px;
	color:#494949;
	margin-top:3px;
}


.mail_center_main_nav
{
	display:block;
	float:left;
	width:100%;
}
.mail_center_main_nav p
{
	font-size:14px;
}
.mail_center_main_nav p a
{
	color:#000;
	margin-right:15px;
	opacity:0.5;
	display:inline-block;
}
.mail_center_main_nav p a:hover
{
	opacity:1;
}

.compose_mail_main_area
{
	display:block;
	float:left;
	float:94%;
	padding:0 3%;
	background:#e8f1f8;
	margin-top:22px;
}
.individual_reply_mail_heading_area
{
	display:block;
	float:left;
	width:100%;
	padding:25px 0;
	border-bottom:1px solid #CCCCCC;	
}
.individual_reply_mail_heading_area p
{
	font-size:14px;
	float:left;
}
.individual_reply_mail_heading_area p span
{
	color:#3454d7;
	margin-right:10px;
	float:left;
}
.individual_reply_mail_heading_area p img
{
	margin-right:5px;
	float:left;
	margin-top:7px;
}
.individual_reply_mail_heading_area h2
{
	float:right;
	font-size:14px;
	font-weight:100;
}
.individual_reply_mail_heading_area h2 img
{
	margin:-5px 0 0 15px;
	float:right;
}
.compose_mail_subject_area
{
	display:block;
	float:left;
	width:100%;
	padding:8px 0;
	border-bottom:1px solid #CCCCCC;	
}
.input_style3
{
	display:block;
	width:100%;
	font-size:15px;
	padding:10px 0;
	background:none;
	color:#565656;
	border:none;
	float:left;
	margin-top:-3px;
}
.individual_reply_mail_text_area
{
	display:block;
	float:left;
	width:100%;
	border-bottom:1px solid #CCCCCC;
	padding:25px 0; 	
}
.individual_reply_mail_textarea_style2
{
	width:100%;
	min-height:150px;
	background:none;
	border:none;
	font-family: 'OpenSansRegular';
	font-size:14px;	
	resize:none;
}
.individual_reply_mail_send_area
{
	display:block;
	float:left;
	width:100%;
	padding:20px 0 30px 0;
}
.individual_reply_mail_send_area p
{
	margin:8px 0 0 0px;
	float:left;
}
.individual_reply_mail_send_area p img
{
	padding:0 6px;
}

.send_but1
{
	display:block;
	float:left;
	width:100px;
	height:40px;
	background:#C80405;
	color:#FFF;
	font-size:14px;
	border:none;
	border-radius:5px;
    font-family: 'OpenSansBold';
	cursor:pointer;
	text-align:center;
	margin-right:25px;	
}
.input_style2
{
	display:block;
	width:262px;
	font-size:15px;
	padding:0 10px;
	height:26px;
	background:none;
	color:#000;
	border:none;
	float:left;
	margin-top:-3px;
}

.individual_mail_main_area
{
	display:block;
	float:left;
	width:100%;
}
.individual_mail_heading_area
{
	display:block;
	float:left;
	width:100%;
	border-bottom:1px solid #CCCCCC;
	padding:10px 0;
}
.individual_mail_heading_area h2
{
	font-size:14px;
	font-weight:100;
	float:right;
}
.individual_mail_heading_area h2 img
{
	vertical-align:middle;
	opacity:0.5;
}
.individual_mail_heading_area h2 img:hover
{
	opacity:1;
}
.mail_small_box_mark_icon
{
	display:block;
	float:left;
	width:15px;
	margin-top:3px;
}
.individual_mail_suject_and_text_area
{
	display:block;
	float:left;
	margin-left:7px;
	margin-top:3px;	
}
.individual_mail_suject_and_text_area h1
{
	font-weight:100;
	font-size:14px;
    font-family: 'OpenSansBold';	
}
.individual_mail_suject_and_text_area p
{
	font-weight:100;
	font-size:14px;
	color:#494949;
	margin-top:3px;
}
.individual_mail_suject_and_text_area p span
{
	color:#6d6d6d;
}
.individual_mail_main_text
{
	display:block;
	float:left;
	width:100%;
	border-bottom:1px solid #CCCCCC;
	padding:5px 0;
	min-height:170px;	
}
.individual_mail_main_text p
{
	font-size:14px;
	margin-top:10px;
	line-height:20px;
}
.individual_mail_attach_area
{
	display:block;
	float:left;
	width:100%;
	padding:25px 0;
	border-bottom:1px solid #CCCCCC;	
}
.individual_mail_attach_area p
{
	font-size:14px;
	float:left;
	width:180px;
}
.individual_mail_attach_area h2
{
	font-size:14px;
	font-weight:100;
	float:left;
	opacity:0.8;
}
.individual_mail_attach_area h2:hover
{
	opacity:1;
}
.individual_mail_reply_area
{
	display:block;
	float:left;
	width:100%;
	padding:25px 0;
}
.individual_mail_reply_area p
{
	font-size:14px;
}
.individual_mail_reply_area p a
{
	color:#3857d8;
}
.individual_mail_reply_area p a:hover
{
	color:#000;
}
.popup1_main_area5
{display:block;overflow:auto;max-width:500px;width:100%;border-radius:15px;background:#FFF; border-bottom:1px solid #E3E3E3;
}
.popup1_form_area3
{display:block;float:left;width:100%;background:#F2F2F2;border-top:1px solid #E2E2E2;border-bottom:1px solid #E2E2E2;padding:0 30px;
}
.popup1_map_main_area
{
	display:block;
	float:left;
	width:100%;
	padding:30px;
	text-align:center;
}
.popup1_create_but{display:block;width:142px;height:46px;background:#D12028;line-height:46px;text-align:center;font-size:18px;font-family:'OpenSansSemibold';color:#FFF;border:none; cursor:pointer;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out; margin:10px auto 0 auto;}
.popup1_create_but:hover{background:#000;}
.textarea_input_style1
{display:block;width:100%;height:100px;background:#FFF;border-radius:5px;padding:15px;border:1px solid #E1E0E0;font-size:16px;color:#4a4949;font-family:'opensansregular';margin:15px 0;
}

.group_name_nested_tabcolor{color:#000 !important; font-size:16px !important; width:auto !important;padding-right:10px !important; border-right:2px solid #FFF !important}

.group_name_nested_tabcolor img{vertical-align:middle; margin:0 5px -0 0;}

.group_name_yourmind_cont{float:left; width:100%; border:#CCC solid; padding:15px 0; border-width:1px 0;}

.group_name_yourmind_cont_image{float:left; width:10%; height:auto; border:4px solid #b9bec1; }

.group_name_yourmind_cont_textarea{float:right; width:88%; background:none; border:none; padding:10px; font-size:16px;font-family:'opensansregular'; margin-top:5px; height:50px;}

.group_name_yourmind_cont_submit1,.group_name_yourmind_cont_submit2{float:right; margin:10px 0 0 10px; width:150px; padding:8px 0; background-color:#d22027; color:#FFF; text-align:center; font-size:20px; border:none; cursor:pointer}

.group_name_yourmind_cont_submit2{background-color:#6d6e71;}

.group_name_yourmind_cont_submit1:hover{background-color:#6d6e71;}
.group_name_yourmind_cont_submit2:hover{background-color:#d22027;}


.group_name_events_panel{float:left; width:104%; margin:20px -2%;}

.group_name_events_panel_colbox{float:left; width:45%; margin:18px 2.5%; font-size:15px; color:#000;}

.group_name_events_panel_colbox h1{font-size:16px; color:#000;  font-family: 'OpenSansBold'; text-transform:uppercase; margin:5px 0;}

.group_name_events_panel_colbox h2{font-size:16px; color:#d22027;  font-family: 'OpenSansBold';}

.group_name_events_panel_colbox p{font-size:16px;margin:10px 0;}

.group_name_events_panel_colbox p span{color:#d22027;}

.group_name_events_panel_colbox_map{float:left; width:100%; height:140px;}

.group_name_events_create_events_button{float:right; background-color:#000; font-size:20px; padding:13px 18px 13px 50px; background-image:url(../images/create_event_icon.png); background-position:left; background-repeat:no-repeat; color:#FFF; margin:15px 0 0 0;}

.group_name_events_create_events_button:hover{background-color:#333;}

.group_member_box_link_panel{float:left; width:100%;}

.errors {
	border: 1px solid #9e1300;
	border-radius: 3px;
	background: #9e1300;
	color: #ffffff;
	padding: 10px 10px 10px 20px;
	width: 100%;
	margin: 0 auto;
	z-index: 99999;
	text-align: center;
}